body{
    background: #D6DBDF;
}


.container{
  width : 1000px;
  margin : 0 auto;
background-image : linear-gradient(#190E8C,#0000FF,#00FFFF,white);
}
.header{
  background :#EE150E;
  padding: 10px 0 10px 340px;

}
.header a{
  color :  #FADBD8;
  text-decoration: none;
}
.header a:hover{
  color :  black;
}
.menu{
  background : gold;
  padding: 10px 0 10px 10px;
}
.menu a{
  color : white;
text-decoration: none;
}
.menu a:hover{
  color : black;
}
.main{
  padding-right: 20px;
  margin : 0 0 20px 180px;
  line-height: 20px;
  font-size: 18px;
  color : black;
  font-style: normal;
  font-family: arial;

}
footer{
  padding: 6px 40px 6px 40px;
  background : #5D6D7E;
  width: 915px;
  margin : 0 auto;
  color : red;
  }
.linktitle{
  text-decoration: none;
  font-size: 20px;
  color : gold;

}

#image{
  padding-top: 10px;
}
.klkl{
    line-height: 50px;
    background-color: #FFEE58;
    padding-left: 370px;
    padding-top: 4px;
    padding-bottom: 4px;
  }
#space{
  line-height: 2px;
  font-size: 15px;
  padding-left: 30px;
}
